Final Deliverables/node_Red.json
[{"id":"46890f6d15a48fd7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"c915e871c8320724","type":"ibmiot in","z":"46890f6d15a48fd7","authentication":"apiKey","apiKey":"6f3d71dfa240d614","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":45,"y":580,"wires":[["7a86f7a94d7c28ca","30993f881675baaa"]],"l":false},{"id":"7a86f7a94d7c28ca","type":"debug","z":"46890f6d15a48fd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":135,"y":520,"wires":[],"l":false},{"id":"30993f881675baaa","type":"function","z":"46890f6d15a48fd7","name":"Level","func":"a = msg.payload.level\ny = global.get(\"flag\")\nif (y == 1){\n    safe_level = 500\n    danger = 0\n    valve = \"Open\"\n    if (a > safe_level){\n        danger = 1\n        valve = \"Closed\"\n    }\n    msg.payload = {\n        \"level\":a,\n        \"alert\":danger,\n        \"valve\":valve\n    }\n    n_level = 500\n    r_level = n_level / 1.7\n    n_level = n_level / 1.7\n    global.set(\"rl\", r_level)\n    global.set(\"l\", a)\n    global.set(\"al\", danger)\n    global.set(\"v\", valve)\n    global.set(\"msg\", msg)\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":215,"y":580,"wires":[["6ef5d5fb45f002cb"]],"l":false},{"id":"e069a5ce2247d385","type":"http in","z":"46890f6d15a48fd7","name":"getdata","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":105,"y":160,"wires":[["233c8533c9067f9b"]],"l":false},{"id":"39c391ee109d06c0","type":"http response","z":"46890f6d15a48fd7","name":"","statusCode":"","headers":{},"x":405,"y":160,"wires":[],"l":false},{"id":"233c8533c9067f9b","type":"function","z":"46890f6d15a48fd7","name":"","func":"msg.payload = {\n        \"level\": global.get(\"l\"),\n        \"alert\": global.get(\"al\"),\n        \"valve\": global.get(\"v\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":235,"y":160,"wires":[["39c391ee109d06c0"]],"l":false},{"id":"d6e316a11a68452d","type":"http in","z":"46890f6d15a48fd7","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":70,"y":300,"wires":[["d5ccfec412ce618d","8db2c5266af6f741"]]},{"id":"2885215894082803","type":"debug","z":"46890f6d15a48fd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"59917d4693a40723","type":"function","z":"46890f6d15a48fd7","name":"Function 2","func":"var a=msg.payload\nvar e=global.get('u')\nvar p=global.get('p')\ncount=0\nfor (j in a){\n    count=count+1\n}\nflag=0\nfor (i=0;i<count;i++){\n    if((e==a[i][\"User Name\"])&(p==a[i][\"Password\"]))\n    {\n      flag = 1//if flag =1, credential availablle in DB ,send to App.\n    }\n}\nif (flag==1){\n    msg.payload = 1\n}\nif(flag==0){\n    msg.payload=0\n}\nglobal.set(\"flag\", flag)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":360,"wires":[["2885215894082803","feba26559efef5d4"]]},{"id":"199f1650e02ec4ba","type":"function","z":"46890f6d15a48fd7","name":"Function 1","func":"a=msg.payload.login\ns = a.split(\",\")\nuser = s[0]\npass = s[1].trim()\nmsg.payload={\n    \"User name\":user,\n    \"Password\":pass   // convert to json format ,store in msg.payload\n}\nglobal.set('u',user) //the above things are used for checking in DB\nglobal.set('p',pass)\nglobal.set('m',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":240,"wires":[["dc8af9ae582a573e"]]},{"id":"feba26559efef5d4","type":"http response","z":"46890f6d15a48fd7","name":"","statusCode":"","headers":{},"x":710,"y":360,"wires":[]},{"id":"dc8af9ae582a573e","type":"debug","z":"46890f6d15a48fd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"d5ccfec412ce618d","type":"cloudant in","z":"46890f6d15a48fd7","name":"Login","cloudant":"9f4da525c3fe54c5","database":"gasdb","service":"node-red-rdrxa-2022--cloudant-1668001681889-78327","search":"_all_","design":"","index":"","x":300,"y":360,"wires":[["59917d4693a40723"]]},{"id":"8db2c5266af6f741","type":"change","z":"46890f6d15a48fd7","name":"","rules":[{"t":"change","p":"payload.login","pt":"msg","from":"\"","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload.login","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload.login","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":195,"y":240,"wires":[["199f1650e02ec4ba"]],"l":false},{"id":"6ef5d5fb45f002cb","type":"debug","z":"46890f6d15a48fd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":361,"y":581,"wires":[],"l":false},{"id":"6f3d71dfa240d614","type":"ibmiot","name":"IBMIOT APIKEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9f4da525c3fe54c5","type":"cloudant","host":"2e5426c1-bb15-4822-8a63-61c05c8fb365-bluemix.cloudantnosqldb.appdomain.cloud","name":""}]